@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Nunito+Sans:wght@300;600;700&display=swap");

/* ***************
golobal
*******************/
/* font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif; */

$textFont: "Montserrat", sans-serif;
$headingsFont: "Nunito Sans", sans-serif;
$primary: #233785;
$darkPrimary: #020a2a;
$white: #fff;
$black: #000;
$gray: #808080;
$lightGray: #f2f2f2;
$darkGray: #333;
$transition: 0.4s ease;
